//overall stuff
#view{
  margin-top: 60px;
}
.mouseover{
  padding: 10px;
  border-radius: 20%;
  // padding-top: 10px;
  // padding-bottom: 10px;
  // height: 100%;
  border: 5px solid black;
}
.mouseover:hover{
  // position: relative;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 7px solid black;

  // background-color: lightgray;
}
a{
  color: black;
}
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}
img{
  border-radius: 20%;
  // margin: 10px;
}
.eachGenre img{
  max-width: 200px;
}
body{
  // font-family: Bangers;
}
.edit{
  margin-top: 40px;
  border-top: 5px solid black ;
  padding-top: 20px;

  padding-bottom: 20px;
  border-bottom: 5px solid black ;
  margin-bottom: 40px;
}
#userInfo{
  float: right;
}
/////////
/////////
/////////
/////////
/////////
/////////
/////////
/////////
.main{
  border: 5px solid black;
  border-radius: 20%;
}
// #main {
//   padding-bottom: 80px;
// }
#divider{
  margin-top: 80px;
  border-top: 2px solid #e5e5e5 ;
  padding-top: 20px;

  padding-bottom: 20px;
  border-bottom: 2px solid #e5e5e5 ;
  margin-bottom: 40px;
}

.eachArt{
  border: 5px solid black;
  border-radius: 20%;
}

.eachGenre{
  border: 5px solid black;
  border-radius: 20%;
}

.eachTech{
  border: 5px solid black;
  border-radius: 20%;
}
.rankImg{
  max-width: 50%;
}

// #bestArt:hover{
//   border: 5px
// }

// .navbar-default {
//   background-color: black;
//   border-color: black;


//   // .container-fluid{
//   //   #bs-example-navbar-collapse-1{
//   //     ul{
//   //       li.active{
//   //         color: white;
//   //       }
//   //     }
//   //   }
//   // }
// }