//overall stuff
$accentColorLight: #d9534f;
$accentColor: #d43f3a;
$black: #222;
#view{
  margin-top: 60px;
}
.row{
  margin: 0px;
}
.accentBG{
  color: white;
  background-color: $accentColor;
}
.accent{
  color: $accentColor;
  // background-color: $accentColor;
}
.black{
  color: $black;
}
.blackBG{
  color: white;
  background-color: $black;
}
.mouseover{
  padding: 10px;
  border-radius: 20%;
  // padding-top: 10px;
  // padding-bottom: 10px;
  // height: 100%;
  border: 5px solid black;
}
.mouseover:hover{
  // position: relative;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 8px solid black;

  // background-color: lightgray;
}
.middle{
  display: block;
  text-align: center;
  margin: 0 auto;
  // text-align: center;
  // margin-left: auto;
  // margin-right: auto;
  // position: center
}
.label{
  max-width: 80%;
}
.badge{
  background-color: black;
}
a{
  color: black;
}
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}
img{
  border-radius: 20%;
  // margin: 10px;
}
.eachGenre img{
  max-width: 200px;
}
body{
  // font-family: Bangers;
}
.edit{
  margin-top: 40px;
  border-top: 5px solid black ;
  padding-top: 20px;

  padding-bottom: 20px;
  border-bottom: 5px solid black ;
  margin-bottom: 40px;
}
.verticalMargins{
  margin-top: 10px;
  margin-bottom: 10px;
}
.bottomMargin{
  margin-bottom: 20px;
}
.topMargin{
  margin-top: 20px;
}
#userInfo{
  float: right;
}
/////////
/////////
/////////
/////////
/////////
/////////
/////////
/////////
.main{
  // border: 5px solid black;
  // border-radius: 20%;

}
#artHeader{
  width: 80%;
}
#techHeader{
  width: 80%;
}
// .even{
//   flex: 1;
// }

// #main {
//   padding-bottom: 80px;
// }
.divider{
  margin-top: 40px;
  border-top: 2px solid #e5e5e5 ;
  padding-top: 20px;

  padding-bottom: 20px;
  border-bottom: 2px solid #e5e5e5 ;
  margin-bottom: 40px;
}
.smallDivider{
  margin-top: 20px;
  border-top: 2px solid #e5e5e5 ;
  padding-top: 10px;

  padding-bottom: 10px;
  border-bottom: 2px solid #e5e5e5 ;
  margin-bottom: 20px;
}

.eachArt{
  border: 5px solid black;
  border-radius: 20%;
}

.eachGenre{
  border: 5px solid black;
  border-radius: 20%;
}

.eachTech{
  border: 5px solid black;
  border-radius: 20%;
}
.rankImg{
  max-width: 50%;
}
li{
  list-style-type: none;
}
#rebel{
  padding-bottom: 60px;
  // height: 700px;
}



//navbar INVERSE stying
.navbar-inverse .navbar-nav>.active>a{
  background-color: $accentColor;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background-color: $accentColor;
}
.navbar-inverse .navbar-nav>li>a{
  // color: white;
}
a:visited{
  color: white;
}
a.gray:visited{
  color: gray;
}
.mainRank{
  max-width: 400px;
}

//navbar WHITE stying
.navbar-default .navbar-nav>.active>a{
  background-color: $accentColor;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color: $accentColor;
}
.navbar-default .navbar-nav>li>a{
  color: white;
}














//Checkboxes
input[type=checkbox].css-checkbox {
              position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
            }

            input[type=checkbox].css-checkbox + label.css-label {
              padding-left:41px;
              height:36px; 
              display:inline-block;
              line-height:36px;
              background-repeat:no-repeat;
              background-position: 0 0;
              font-size: 1 em;
              vertical-align:middle;
              cursor:pointer;

            }

            input[type=checkbox].css-checkbox:checked + label.css-label {
              background-position: 0 -36px;
            }
            label.css-label {
        background-image:url(../images/csscheckbox_168832285dc5b6889ff69833fd6c89ed.png);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }