<div ng-show="loggedIn">
  <h1>Add a Technique</h1>
  <input type="text" id="techName" class="form-control" placeholder="Technique Name">
  <input type="text" id="techLogo" class="form-control" placeholder="Technique logo url">
  <textarea id="techDescription" class="form-control" rows="5" placeholder="Technique description"></textarea>
<!--   <h3>Arts in this Technique</h3>
  <div ng-repeat="art in arts">
      <input type="checkbox" name="checkboxG5" id="{{art.name}}addArt" class="css-checkbox" value="{{art.name}}">
      <label for="{{art.name}}addArt" class="css-label arts">{{art.name}}</label>
      <img src="{{art.image}}" width="30px">
  </div>
  <h3>Genres in this Technique</h3>
  <div ng-repeat="genre in genres">
      <input type="checkbox" name="checkboxG5" id="{{genre.name}}addTech" class="css-checkbox" value="{{genre.name}}">
      <label for="{{genre.name}}addTech" class="css-label genres">{{genre.name}}</label>
      <img src="{{genre.image}}" width="30px">
  </div> -->
  <a href="/#/" class="btn btn-primary" ng-click="saveToFirebase()">Add this technique</a>
</div>
<div ng-hide="loggedIn" class="alert alert-warning">
  <h1>Sorry, you are not logged in</h1>
</div>