<div ng-show="loggedIn">
  <h1>Add a Technique</h1>
  <input type="text" id="techName" class="form-control" placeholder="Technique Name">
  <input type="text" id="techLogo" class="form-control" placeholder="Technique logo url">
  <textarea id="techDescription" class="form-control" rows="5" placeholder="Technique description"></textarea>
  <h3>Arts in this Technique</h3>
  <div ng-repeat="art in arts">
      <input type="checkbox" class="arts" value="{{art.name}}">{{art.name}}
      <img src="{{art.image}}" width="30px">
  </div>
  <h3>Genres in this Technique</h3>
  <div ng-repeat="genre in genres">
      <input type="checkbox" class="genres" value="{{genre.name}}">{{genre.name}}
      <img src="{{genre.image}}" width="30px">
  </div>
  <a href="/#/" class="btn btn-default gray" ng-click="saveToFirebase()">Add this technique</a>
</div>
<div ng-hide="loggedIn">
  <h1>Can't do this cause you ain't logged in</h1>
</div>