<div id="artDetails">
  <div class="btn-group" role="group">
    <button class="btn btn-default" type="button" ng-click="changeVote()">
      Vote
    </button>
    <button type="button" class="btn btn-default" ng-click="changeEdit()">Edit</button>
  </div>
  <div ng-show="voteShow">
    <h4 class="accentBG">If you think {{clickedArt.name}} is the best martial art for anyone of these engagement styles, select the appropriate boxes. You can only vote once, but you can change it at any time. Previous votes for {{clickedArt.name}} will already be checked.</h4>
    <ul class="edit"><!-- ng-hide="edit" -->
      <div ng-show="loggedIn" class="smallDivider">
        <li><input type="checkbox" name="checkboxG5" id="Overall" class="css-checkbox votes" value="Overall">
        <label for="Overall" class="css-label">Overall</label></li>
        <li ng-repeat="key in genres"><input type="checkbox" name="checkboxG5" id="{{key.name}}" class="css-checkbox votes" value="{{key.name}}">
        <label for="{{key.name}}" class="css-label">{{key.name}}</label></li>
        <button class="btn btn-default" ng-click="vote(); changeVote()">Save Votes</button>
      </div>
      <div ng-hide="loggedIn" class="alert alert-warning">
        You are not logged in.
      </div>
    </ul>
  </div>

  <div ng-show="edit" class="edit"><!-- ng-show="vote" -->
    <div ng-show="loggedIn">
      <h4 class="accentBG middle smallDivider" id="artNameEdit"></h4>
      <label for="artLogoEdit">Change logo url</label>
      <input type="text" id="artLogoEdit" class="form-control" placeholder="Art logo url">
      <label for="artDescriptionEdit" class="topMargin">Edit description</label>
      <textarea id="artDescriptionEdit" class="form-control bottomMargin" rows="5" placeholder="Art description"></textarea>

      <!-- Adding to Photo Gallary -->
      <div class="divider">
        <h3 class="accent">Add to Photo Gallary</h3>
        <!-- <label for="photoUrl">Web url</label> -->
        <input type="text" id="photoUrl" class="form-control" placeholder="Photo url">
        <h4 class="accent smallDivider">or</h4>
        <!-- Upload Image -->
        <div class="form-group" id="upload">
          <label for="artUpload">Upload an Image</label>
          <input type="file" id="artUpload">
          <p class="help-block">This will be added to the photo gallary.</p>
          <button type="button" ng-click="setUpload()">Upload</button>
        </div>
      </div>

      <!-- dropdown for checkboxes -->
      <div class="verticalMargins">
        <button class="btn btn-default" type="button" ng-click="checkCheckboxes(); changeGenreCheck()">
          Included Genres
        </button>
        <ul ng-show="genreCheck" class="smallDivider">
          <!-- <li ng-repeat="key in genres"><input type="checkbox" class="checkGenres" value="{{key.name}}">{{key.name}}</li> -->
          <li ng-repeat="key in genres"><input type="checkbox" name="checkboxG5" id="{{key.name}}genre" class="css-checkbox checkGenres" value="{{key.name}}">
          <label for="{{key.name}}genre" class="css-label">{{key.name}}</label></li>
        </ul>
      </div>
      <div class="verticalMargins">
        <button class="btn btn-default" type="button" ng-click="checkCheckboxes(); changeTechCheck()">
          Included Techniques
        </button>
        <ul class="smallDivider" ng-show="techCheck">
          <!-- <li ng-repeat="key in techniques"><input type="checkbox" class="checkTechniques" value="{{key.name}}">{{key.name}}</li> -->
          <li ng-repeat="key in techniques"><input type="checkbox" name="checkboxG5" id="{{key.name}}techniques" class="css-checkbox checkTechniques" value="{{key.name}}">
          <label for="{{key.name}}techniques" class="css-label">{{key.name}}</label></li>
        </ul>
      </div>
      <button type="button" class="btn btn-danger" ng-click="update()">Save changes</button>
    </div>
    <div ng-hide="loggedIn" class="alert alert-warning">
      You are not logged in.
    </div>
  </div>


  <!-- Here's the real population -->

  <h1 class="accentBG middle divider detailsHeader">{{clickedArt.name}}</h1>
  <img class="jumbotron middle verticalMargins" src="{{clickedArt.image}}" alt="Image" width="60%">
  <p class="accentBG smallDivider">{{clickedArt.description}}</p>

  <div class="row panel panel-default">
    <div class="panel-heading">
      <h3 class="middle accent">Covered Genres</h3>
    </div>
    <div class="panel-body panel panel-default col-md-2 col-sm-3 col-xs-6" ng-repeat="genre in matchingGenres">
      <div class="mouseover">
      <a href="{{'/#/genres/'+genre.name}}">
        <div class="panel-body">
          <img src="{{genre.image}}" alt="Image" width="100%" max-width="200px">
        </div>
        <div class="panel-heading">
          <h4 class="middle accent">{{genre.name}}</h4>
        </div>
      </a>
      </div>
    </div>
  </div>

  <div class="row panel panel-default">
    <div class="panel-heading">
      <h3 class="middle accent">Included Techniques</h3>
    </div>
    <div class="panel-body panel panel-default col-md-2 col-sm-3 col-xs-6" ng-repeat="technique in matchingTechs">
      <div class="mouseover">
      <a href="{{'/#/techniques/'+technique.name}}">
        <div class="panel-body">
          <img src="{{technique.image}}" alt="Image" width="100%" max-width="200px">
        </div>
        <div class="panel-heading">
          <h4 class="middle accent">{{technique.name}}</h4>
        </div>
      </a>
      </div>
    </div>
  </div>


  <!-- Photo Gallary -->
  <div class="row panel panel-default">
    <div class="panel-heading">
      <h3 class="middle accent">Photo Gallary</h3>
    </div>
    <div class="panel-body panel panel-default col-sm-4" ng-repeat="photo in clickedArt.photos">
      <div class="mouseover">
        <div class="panel-body">
          <img src="{{photo}}" alt="Image" width="100%">
        </div>
        <!-- <div class="panel-heading">
          <h4 class="middle accent">{{technique.name}}</h4>
        </div> -->
      </div>
    </div>
  </div>









  <!-- <iframe width="420" height="315"
  src="http://www.youtube.com/embed/7nt33U4EMnI?autoplay=1">
  </iframe> -->
<!-- https://www.youtube.com/watch?v=Q8Vc0jM3Qoo -->

</div>