<div id="artDetails">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Vote
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><input type="checkbox" class="votes" value="Overall">Overall</li>
      <li ng-repeat="key in genres"><input type="checkbox" class="votes" value="{{key.name}}">{{key.name}}</li>
      <button ng-hide="clicked" ng-click="vote()">Vote</button>
    </ul>
  </div>

  <button type="button" class="btn btn-default" ng-click="changeEdit()">Edit</button>
  <div ng-show="edit" class="edit">
    <div ng-show="loggedIn">
      <input type="text" id="artNameEdit" class="form-control" placeholder="Art Name">
      <input type="text" id="artLogoEdit" class="form-control" placeholder="Art logo url">
      <textarea id="artDescriptionEdit" class="form-control" rows="5" placeholder="Art description"></textarea>
      <h3>Videos</h3>
      <input type="text" id="artVideoEdit" class="form-control" placeholder="Video url">
      <!-- <input type="text" class="form-control artVideo" placeholder="Video url" ng-repeat="vid in videos"> -->
      <!-- <button type="button" class="btn btn-default" ng-click="addVideo()">Add another video</button> -->

      <!-- dropdown for checkboxes -->
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-click="checkCheckboxes()">
          Included Genres
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li ng-repeat="key in genres"><input type="checkbox" class="checkGenres" value="{{key.name}}">{{key.name}}</li>
          <button class="dropdown-toggle">Done</button>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-click="checkCheckboxes()">
          Included Techniques
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li ng-repeat="key in techniques"><input type="checkbox" class="checkTechniques" value="{{key.name}}">{{key.name}}</li>
          <button class="dropdown-toggle">Done</button>
        </ul>
      </div>
      <button type="button" class="btn btn-default" ng-click="update()">Save changes</button>
    </div>
    <div ng-hide="loggedIn">
      <h2>Sorry, you are not logged in</h2>
    </div>
  </div>


  <!-- Here's the real population -->

  <h3>{{clickedArt.name}}</h3>
  <img src="{{clickedArt.image}}">
  <p>{{clickedArt.description}}</p>

 <!--  <iframe width="420" height="315"
  src="http://www.youtube.com/embed/{{video}}" allowfullscreen>
  </iframe> -->
  <!-- <iframe width="420" height="315" src="{{clickedArt.video}}" frameborder="0" allowfullscreen></iframe> -->
  
  <div ng-repeat="genre in clickedArt.genres">
    <h4>{{genre.name}}</h4>
    <img src="{{genre.image}}" alt="Image">
  </div>

  <div ng-repeat="technique in clickedArt.techniques">
    <h4>{{technique.name}}</h4>
    <img src="{{technique.image}}" alt="Image">
  </div>
  <!-- <iframe width="420" height="315"
  src="http://www.youtube.com/embed/7nt33U4EMnI?autoplay=1">
  </iframe> -->
<!-- https://www.youtube.com/watch?v=Q8Vc0jM3Qoo -->


</div>