<div id="artDetails">
  <div class="btn-group" role="group">
    <button class="btn btn-default" type="button" ng-click="changeVote()">
      Vote
    </button>
    <button type="button" class="btn btn-default" ng-click="changeEdit()">Edit</button>
  </div>
  <ul ng-show="voteShow" class="edit"><!-- ng-hide="edit" -->
    <div ng-show="loggedIn" class="smallDivider">
      <li><input type="checkbox" name="checkboxG5" id="Overall" class="css-checkbox" value="Overall">
      <label for="Overall" class="css-label votes">Overall</label></li>
      <li ng-repeat="key in genres"><input type="checkbox" name="checkboxG5" id="{{key.name}}" class="css-checkbox votes" value="{{key.name}}">
      <label for="{{key.name}}" class="css-label">{{key.name}}</label></li>
      <button ng-hide="clicked" ng-click="vote()">Vote</button>
    </div>
    <div ng-hide="loggedIn" class="alert alert-warning">
      You are not logged in.
    </div>
  </ul>

  <div ng-show="edit" class="edit"><!-- ng-show="vote" -->
    <div ng-show="loggedIn">
      <input type="text" id="artNameEdit" class="form-control" placeholder="Art Name">
      <input type="text" id="artLogoEdit" class="form-control" placeholder="Art logo url">
      <textarea id="artDescriptionEdit" class="form-control" rows="5" placeholder="Art description"></textarea>
      <h3>Videos</h3>
      <input type="text" id="artVideoEdit" class="form-control" placeholder="Video url">
      <!-- <input type="text" class="form-control artVideo" placeholder="Video url" ng-repeat="vid in videos"> -->
      <!-- <button type="button" class="btn btn-default" ng-click="addVideo()">Add another video</button> -->

      <!-- dropdown for checkboxes -->
      <div class="dropdown">
        <button class="btn btn-default" type="button" ng-click="checkCheckboxes(); changeGenreCheck()">
          Included Genres
        </button>
        <ul ng-show="genreCheck" class="smallDivider">
          <!-- <li ng-repeat="key in genres"><input type="checkbox" class="checkGenres" value="{{key.name}}">{{key.name}}</li> -->
          <li ng-repeat="key in genres"><input type="checkbox" name="checkboxG5" id="{{key.name}}genre" class="css-checkbox checkGenres" value="{{key.name}}">
          <label for="{{key.name}}genre" class="css-label">{{key.name}}</label></li>
          <!-- <button ng-click="changeGenreCheck()">Done</button> -->
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-default" type="button" ng-click="checkCheckboxes(); changeTechCheck()">
          Included Techniques
        </button>
        <ul class="smallDivider" ng-show="techCheck">
          <!-- <li ng-repeat="key in techniques"><input type="checkbox" class="checkTechniques" value="{{key.name}}">{{key.name}}</li> -->
          <li ng-repeat="key in techniques"><input type="checkbox" name="checkboxG5" id="{{key.name}}techniques" class="css-checkbox checkTechniques" value="{{key.name}}">
          <label for="{{key.name}}techniques" class="css-label">{{key.name}}</label></li>
          <!-- <button ng-click="changeTechCheck()">Done</button> -->
        </ul>
      </div>
      <button type="button" class="btn btn-default" ng-click="update()">Save changes</button>
    </div>
    <div ng-hide="loggedIn" class="alert alert-warning">
      You are not logged in.
    </div>
  </div>


  <!-- Here's the real population -->

  <h1 class="accentBG middle divider detailsHeader">{{clickedArt.name}}</h1>
  <img class="jumbotron middle verticalMargins" src="{{clickedArt.image}}" alt="Image" width="60%">
  <p class="accentBG smallDivider">{{clickedArt.description}}</p>

 <!--  <iframe width="420" height="315"
  src="http://www.youtube.com/embed/{{video}}" allowfullscreen>
  </iframe> -->
  <!-- <iframe width="420" height="315" src="{{clickedArt.video}}" frameborder="0" allowfullscreen></iframe> -->

  <!-- <div class="media" ng-repeat="genre in clickedArt.genres">
    <div class="media-left">
      <a href="{{'/#/genres/'+genre.name}}">
        <img width="200px" class="media-object" src="{{genre.image}}" alt="Image">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{genre.name}}</h4>
      ...
    </div>
  </div> -->
  <div class="row panel panel-default">
    <div class="panel-heading">
      <h3 class="middle accent">Covered Genres</h3>
    </div>
    <div class="panel-body panel panel-default col-md-2 col-sm-3 col-xs-6" ng-repeat="genre in matchingGenres">
      <div class="mouseover">
      <a href="{{'/#/genres/'+genre.name}}">
        <div class="panel-body">
          <img src="{{genre.image}}" alt="Image" width="100%" max-width="200px">
        </div>
        <div class="panel-heading">
          <h4 class="middle accent">{{genre.name}}</h4>
        </div>
      </a>
      </div>
    </div>
  </div>

  <div class="row panel panel-default">
    <div class="panel-heading">
      <h3 class="middle accent">Included Techniques</h3>
    </div>
    <div class="panel-body panel panel-default col-md-2 col-sm-3 col-xs-6" ng-repeat="technique in matchingTechs">
      <div class="mouseover">
      <a href="{{'/#/techniques/'+technique.name}}">
        <div class="panel-body">
          <img src="{{technique.image}}" alt="Image" width="100%" max-width="200px">
        </div>
        <div class="panel-heading">
          <h4 class="middle accent">{{technique.name}}</h4>
        </div>
      </a>
      </div>
    </div>
  </div>

  <!-- <div class="row panel panel-default">
    <div class="panel-heading">
      <h3 class="middle accent">Included Techniques</h3>
    </div>
    <div class="panel-body panel panel-default col-sm-3" ng-repeat="technique in matchingTechs">
      <div class="mouseover">
      <a href="{{'/#/techniques/'+technique.name}}">
        <div class="panel-heading">
          <h4>{{technique.name}}</h4>
        </div>
        <div class="panel-body">
          <img src="{{technique.image}}" alt="Image" width="100%">
        </div>
      </a>
      </div>
    </div>
  </div> -->

  <!-- <div ng-repeat="genre in clickedArt.genres" class="mouseover">
    <a href="{{'/#/genres/'+genre.name}}">
      <div>
        <h4>{{genre.name}}</h4>
        <img src="{{genre.image}}" alt="Image" width="200px">
      </div>
    </a>
  </div> -->

  <!-- <div ng-repeat="technique in clickedArt.techniques" class="mouseover">
    <a href="{{'/#/techniques/'+technique.name}}">
      <div>
        <h4>{{technique.name}}</h4>
        <img src="{{technique.image}}" alt="Image">
      </div>
    </a>
  </div> -->
  <!-- <iframe width="420" height="315"
  src="http://www.youtube.com/embed/7nt33U4EMnI?autoplay=1">
  </iframe> -->
<!-- https://www.youtube.com/watch?v=Q8Vc0jM3Qoo -->

</div>