<div id="genreDetails">
  <button type="button" class="btn btn-default" ng-click="changeEdit()">Edit</button>
  <div ng-show="edit" class="edit">
    <div ng-show="loggedIn">
      <input type="text" id="genreNameEdit" class="form-control" placeholder="Genre Name">
      <input type="text" id="genreLogoEdit" class="form-control" placeholder="Genre logo url">
      <textarea id="genreDescriptionEdit" class="form-control" rows="5" placeholder="Genre description"></textarea>
      <button type="button" class="btn btn-default" ng-click="update()">Save changes</button>
    </div>
    <div ng-hide="loggedIn">
      <h2>Sorry, you are not logged in</h2>
    </div>
  </div>


  <h3>{{clickedGenre.name}}</h3>
  <img src="{{clickedGenre.image}}" alt="Image">
  <p>{{clickedGenre.description}}</p>

  <h4>Arts that cover this genre:</h4>
  <div ng-repeat="art in matchingArts">
    <a href="{{'/#/arts/'+art.name}}">
    <h4>{{art.name}}</h4>
    <img src="{{art.image}}" alt="Image">
    </a>
  </div>

  <h4>Techniques in this genre:</h4>
  <div ng-repeat="technique in matchingTechs">
    <a href="{{'/#/techniques/'+technique.name}}">
    <h4>{{technique.name}}</h4>
    <img src="{{technique.image}}" alt="Image">
    </a>
  </div>

</div>