<div id="genreDetails">
  <button type="button" class="btn btn-default" ng-click="changeEdit()">Edit</button>
  <div ng-show="edit" class="edit">
    <div ng-show="loggedIn">
      <input type="text" id="genreNameEdit" class="form-control" placeholder="Genre Name">
      <input type="text" id="genreLogoEdit" class="form-control" placeholder="Genre logo url">
      <textarea id="genreDescriptionEdit" class="form-control" rows="5" placeholder="Genre description"></textarea>
      <button type="button" class="btn btn-default" ng-click="update()">Save changes</button>
    </div>
    <div ng-hide="loggedIn">
      <h2>Sorry, you are not logged in</h2>
    </div>
  </div>


  <h3 class="blackBG middle divider detailsHeader">{{clickedGenre.name}}</h3>
  <img class="jumbotron middle verticalMargins" src="{{clickedGenre.image}}" alt="Image" width="60%">
  <p class="blackBG smallDivider">{{clickedGenre.description}}</p>


  <div class="row panel panel-default">
    <div class="panel-heading">
      <h3 class="middle accent">Included Arts</h3>
    </div>
    <div class="panel-body panel panel-default col-md-2 col-sm-3 col-xs-6" ng-repeat="art in matchingArts">
      <div class="mouseover">
      <a href="{{'/#/arts/'+art.name}}">
        <div class="panel-body">
          <img src="{{art.image}}" alt="Image" width="100%" max-width="200px">
        </div>
        <div class="panel-heading">
          <h4 class="middle accent">{{art.name}}</h4>
        </div>
      </a>
      </div>
    </div>
  </div>

  <div class="row panel panel-default">
    <div class="panel-heading">
      <h3 class="middle accent">Included Techniques</h3>
    </div>
    <div class="panel-body panel panel-default col-md-2 col-sm-3 col-xs-6" ng-repeat="technique in matchingTechs">
      <div class="mouseover">
      <a href="{{'/#/techniques/'+technique.name}}">
        <div class="panel-body">
          <img src="{{technique.image}}" alt="Image" width="100%" max-width="200px">
        </div>
        <div class="panel-heading">
          <h4 class="middle accent">{{technique.name}}</h4>
        </div>
      </a>
      </div>
    </div>
  </div>
</div>