<div class="row" id="main">
  <a href="/#/arts"><div class="col-sm-6 main mouseover">
    <h2>Arts</h2>
    <img src="http://www.clker.com/cliparts/s/O/i/O/Q/V/pirate-crossed-swords-hi.png" width="100%">
  </div></a>
  <a href="/#/genres"><div class="col-sm-3 main mouseover">
    <h3>Genres</h3>
  </div></a>
  <a href="/#/techniques"><div class="col-sm-3 main mouseover">
    <h3>Techniques</h3>
  </div></a>
</div>

<h2 id="divider">Top Rankings</h2>

<a href="{{'/#/arts/'+bestArt.name}}"><div id="bestArt" class="mouseover">
  <h2>Voted best overall art</h2>
  <h3>{{bestArt.name}}</h3>
  <h5>Number of votes: {{bestArt.votes.Overall}}</h5>
  <img src="{{bestArt.image}}">
</div></a>

<a href="{{'/#/techniques/'+bestTech.name}}"><div id="bestTech" class="mouseover">
  <h2>Voted best overall technique</h2>
  <h3>{{bestTech.name}}</h3>
  <h5>Number of votes: {{bestTech.votes.Overall}}</h5>
  <img src="{{bestTech.image}}">
</div></a>

<a href="/#/rankings"><h2>View All Rankings</h2></a>