<div class="row" id="main">
  <a href="/#/arts"><div class="col-sm-6 main mouseover">
    <h2>Arts</h2>
    <img src="http://www.clker.com/cliparts/s/O/i/O/Q/V/pirate-crossed-swords-hi.png" width="100%">
  </div></a>
  <a href="/#/genres"><div class="col-sm-3 main mouseover">
    <h3>Genres</h3>
  </div></a>
  <a href="/#/techniques"><div class="col-sm-3 main mouseover">
    <h3>Techniques</h3>
  </div></a>
</div>

<h2 class="divider">Top Rankings <span><button class="btn btn-xs btn-danger"><a href="/#/rankings">View All Rankings >></a></button></span></h2>


<!-- <a href="{{'/#/arts/'+bestArt.name}}"><div id="bestArt" class="mouseover">
  <h2>Voted best overall art</h2>
  <h3>{{bestArt.name}}</h3>
  <h5>Number of votes: {{bestArt.votes.Overall}}</h5>
  <img src="{{bestArt.image}}">
</div></a>

<a href="{{'/#/techniques/'+bestTech.name}}"><div id="bestTech" class="mouseover">
  <h2>Voted best overall technique</h2>
  <h3>{{bestTech.name}}</h3>
  <h5>Number of votes: {{bestTech.votes.Overall}}</h5>
  <img src="{{bestTech.image}}">
</div></a> -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="middle accentBG">Voted best overall art</h2>
  </div>
  <a href="{{'/#/arts/'+bestArt.name}}">
    <div class="panel-body mouseover">
      <div class="media">
        <a href="{{'/#/arts/'+bestArts.name}}">
        <div class="media-left">
          <img class="media-object" src="{{bestArt.image}}" alt="Image">
        </div>
        <div class="media-body">
          <h2 class="media-heading middle accent verticalMargins">{{bestArt.name}}</h2>
          <h4 class="label label-default middle verticalMargins">Number of votes: <span class="badge">{{bestArt.votes.Overall}}</span></h4>
        </div>
        </a>
      </div>
    </div>
  </a>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="middle accentBG">Voted best overall technique</h2>
  </div>
  <a href="{{'/#/arts/'+bestArt.name}}">
    <div class="panel-body mouseover">
      <div class="media">
        <a href="{{'/#/techniques/'+bestTech.name}}">
        <div class="media-left">
          <img class="media-object" src="{{bestTech.image}}" alt="Image">
        </div>
        <div class="media-body">
          <h2 class="media-heading middle accent verticalMargins">{{bestTech.name}}</h2>
          <h4 class="label label-default middle verticalMargins">Number of votes: <span class="badge">{{bestTech.votes.Overall}}</span></h4>
        </div>
        </a>
      </div>
    </div>
  </a>
</div>
<!-- <div class="media mouseover">
  <a href="{{'/#/arts/'+bestArts.name}}">
  <div class="media-left">
    <img class="media-object" src="{{bestArt.image}}" alt="Image">
  </div>
  <div class="media-body">
    <h3 class="media-heading middle accent verticalMargins">{{bestArt.name}}</h3>
    <h4 class="label label-default middle verticalMargins">Number of votes: <span class="badge">{{bestArt.votes.Overall}}</span></h4>
  </div>
  </a>
</div> -->
<!-- <div class="media mouseover">
  <a href="{{'/#/techniques/'+bestTech.name}}">
  <div class="media-left">
    <img class="media-object" src="{{bestTech.image}}" alt="Image">
  </div>
  <div class="media-body">
    <h3 class="media-heading middle accent verticalMargins">{{bestTech.name}}</h3>
    <h4 class="label label-default middle verticalMargins">Number of votes: <span class="badge">{{bestTech.votes.Overall}}</span></h4>
  </div>
  </a>
</div> -->

<!-- <div class="panel panel-default">
  <div class="panel-heading">
    <h2>Voted best overall art</h2>
  </div>
  <a href="{{'/#/arts/'+bestArt.name}}">
    <div class="panel-body mouseover">
      <div class="media">
        <div class="media-left">
          <img src="{{bestArt.image}}" alt="Image" width="90%">
        </div>
        <div class="media-body">
          <h3 class="media-heading middle accent verticalMargins">{{bestArt.name}}</h3>
          <h4 class="label label-default middle verticalMargins" max-width="20px">Number of votes: <span class="badge">{{bestArt.votes.Overall}}</span></h4>
        </div>
      </div>
    </div>
  </a>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Voted best overall technique</h2>
  </div>
  <a href="{{'/#/techniques/'+bestTech.name}}">
    <div class="panel-body mouseover">
      <img src="{{bestTech.image}}" alt="Image" width="10%">
          <h3 class="media-heading middle accent verticalMargins">{{bestTech.name}}</h3>
          <h4 class="label label-default middle verticalMargins" max-width="20px">Number of votes: <span class="badge">{{bestTech.votes.Overall}}</span></h4>
    </div>
  </a>
</div> -->

<!-- <div class="panel panel-default">
  <div class="mouseover">
  <a href="{{'/#/techniques/'+bestTech.name}}">
    <div class="panel-heading">
      <h2>Voted best overall technique</h2>
    </div>
    <div class="panel-body">
      <h3>{{bestTech.name}}</h3>
      <h5>Number of votes: {{bestTech.votes.Overall}}</h5>
      <img src="{{bestTech.image}}">
    </div>
  </a>
  </div>
</div> -->
