<div class="row" id="main">
  <a href="/#/arts"><div class="col-sm-6 main mouseover">
    <h2>Arts</h2>
    <img src="http://www.clker.com/cliparts/s/O/i/O/Q/V/pirate-crossed-swords-hi.png" width="100%">
  </div></a>
  <a href="/#/genres"><div class="col-sm-3 main mouseover">
    <h3>Genres</h3>
  </div></a>
  <a href="/#/techniques"><div class="col-sm-3 main mouseover">
    <h3>Techniques</h3>
  </div></a>
</div>

<h2 id="divider">Top Rankings</h2>
<a href="/#/rankings"><h6 class="mouseover">View All Rankings >></h6></a>

<!-- <a href="{{'/#/arts/'+bestArt.name}}"><div id="bestArt" class="mouseover">
  <h2>Voted best overall art</h2>
  <h3>{{bestArt.name}}</h3>
  <h5>Number of votes: {{bestArt.votes.Overall}}</h5>
  <img src="{{bestArt.image}}">
</div></a>

<a href="{{'/#/techniques/'+bestTech.name}}"><div id="bestTech" class="mouseover">
  <h2>Voted best overall technique</h2>
  <h3>{{bestTech.name}}</h3>
  <h5>Number of votes: {{bestTech.votes.Overall}}</h5>
  <img src="{{bestTech.image}}">
</div></a> -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Voted best overall art</h2>
  </div>
  <a href="{{'/#/arts/'+bestArt.name}}">
    <div class="panel-body mouseover">
      <div class="media">
        <div class="media-left">
          <img src="{{bestArt.image}}" alt="Image">
        </div>
        <div class="media-body">
          <h3 class="media-heading">{{bestArt.name}}</h3>
          <h5>Number of votes: {{bestArt.votes.Overall}}</h5>
        </div>
      </div>
    </div>
  </a>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Voted best overall technique</h2>
  </div>
  <a href="{{'/#/techniques/'+bestTech.name}}">
    <div class="panel-body mouseover">
      <div class="media">
        <div class="media-left">
          <img src="{{bestTech.image}}" alt="Image">
        </div>
        <div class="media-body">
          <h3 class="media-heading">{{bestTech.name}}</h3>
          <h5>Number of votes: {{bestTech.votes.Overall}}</h5>
        </div>
      </div>
    </div>
  </a>
</div>

<!-- <div class="panel panel-default">
  <div class="mouseover">
  <a href="{{'/#/techniques/'+bestTech.name}}">
    <div class="panel-heading">
      <h2>Voted best overall technique</h2>
    </div>
    <div class="panel-body">
      <h3>{{bestTech.name}}</h3>
      <h5>Number of votes: {{bestTech.votes.Overall}}</h5>
      <img src="{{bestTech.image}}">
    </div>
  </a>
  </div>
</div> -->
