<img class="middle" src="{{user.password.profileImageURL}}" width="30%">
  <!-- <div class="divider">
    <h3 class="accent">Change user logo</h3>
    <input type="text" id="profileUrl" class="form-control" placeholder="Photo url">
    <h4 class="accent smallDivider">or</h4>
    <div class="form-group" id="profile">
      <label for="artUpload">Upload an Image</label>
      <input type="file" id="profileUpload">
      <p class="help-block">This will be added to the photo gallary.</p>
      <button type="button" ng-click="setUpload()">Upload</button>
    </div>
    <button type="button" class="btn btn-default" ng-click="savePhoto()">Save</button>
  </div> -->
<h3 class="middle accentBG">{{user.password.email}}</h3>
<h3 class="accent topMargin middle">Voted Arts</h3>
<ul>
  <li class="verticalMargins middle" ng-repeat="(key, art) in clickedUser.arts">{{key}}: <a ng-if="art != 'no vote'" href="{{'/#/arts/'+art}}"><span class="accent">{{art}}</span></a>
  <span ng-if="art == 'no vote'" class="accent">{{art}}</span></li>
</ul>
<h3 class="accent topMargin middle">Voted Techniques</h3>
<ul>
  <li class="verticalMargins middle" ng-repeat="(key, tech) in clickedUser.techniques">{{key}}: <a  ng-if="tech != 'no vote'" href="{{'/#/techniques/'+tech}}"><span class="accent"> {{tech}}</span></a>
  <span ng-if="tech == 'no vote'" class="accent">{{tech}}</span></li>
</ul>