<img ng-if="clickedUser.userImage == false" class="middle" src="{{clickedUser.image}}" width="30%">
<img ng-if="clickedUser.userImage != false" class="middle" src="{{clickedUser.userImage}}" width="30%">
<button type="button" class="btn btn-default middle verticalMargins" ng-click="changeEdit()">Edit</button>
  <div ng-show="edit">
    <div class="divider">
      <h3 class="accent">Change user logo</h3>
      <input type="text" id="profileUrl" class="form-control" placeholder="Photo url">
      <h4 class="accent smallDivider">or</h4>
      <div class="form-group" id="profile">
        <label for="artUpload">Upload an Image</label>
        <input type="file" id="profileUpload">
        <p class="help-block">This will be added to the photo gallary.</p>
        <button type="button" ng-click="setUpload()">Upload</button>
      </div>
      <button type="button" class="btn btn-default" ng-click="savePhoto(); changeEdit()">Save</button>
    </div>
    <div class="divider">
      <h3 class="accent">Change Username</h3>
      <input type="text" id="username" class="form-control" placeholder="Username">
      <button type="button" class="btn btn-default" ng-click="changeName(); changeEdit()">Save</button>
    </div>
  </div>
<h3 class="middle accentBG"><span ng-if="clickedUser.username == false">No Username</span><span ng-if="clickedUser.username != false">{{clickedUser.username}}</span> </h3>
<br>
<h4 class="middle accentBG">Email: <br>{{clickedUser.email}}</h4>
<h4 class="accent topMargin middle">Voted Arts</h4>
<ul>
  <li class="verticalMargins middle" ng-repeat="(key, art) in clickedUser.arts">{{key}}: <a ng-if="art != 'no vote'" href="{{'/#/arts/'+art}}"><span class="accent">{{art}}</span></a>
  <span ng-if="art == 'no vote'" class="accent">{{art}}</span></li>
</ul>
<h4 class="accent topMargin middle">Voted Techniques</h4>
<ul>
  <li class="verticalMargins middle" ng-repeat="(key, tech) in clickedUser.techniques">{{key}}: <a  ng-if="tech != 'no vote'" href="{{'/#/techniques/'+tech}}"><span class="accent"> {{tech}}</span></a>
  <span ng-if="tech == 'no vote'" class="accent">{{tech}}</span></li>
</ul>