<a href="{{'/#/arts/'+bestArt.name}}"><div id="bestArt">
  <h2>Voted best overall art</h2>
  <h3>{{bestArt.name}}</h3>
  <h5>Number of votes: {{bestArt.votes.Overall}}</h5>
  <img src="{{bestArt.image}}">
</div></a>

<a href="{{'/#/techniques/'+bestTech.name}}"><div id="bestTech">
  <h2>Voted best overall technique</h2>
  <h3>{{bestTech.name}}</h3>
  <h5>Number of votes: {{bestTech.votes.Overall}}</h5>
  <img src="{{bestTech.image}}">
</div></a>

<a href="{{'/#/arts/'+{{key.name}}.name}}" ng-repeat="key in genres"><div>
  <h2>Voted best {{key.name}} art</h2>
  <h3>{{{{key.name}}.name}}</h3>
  <h5>Number of votes: {{{{key.name}}.votes.{{key.name}}}}</h5>
  <img src="{{{{key.name}}.image}}">
</div></a>