<a href="{{'/#/arts/'+bestArt.name}}"><div id="bestArt" class="col-sm-6 mouseover">
  <h2>Voted best overall art</h2>
  <h3>{{bestArt.name}}</h3>
  <h5>Number of votes: {{bestArt.votes.Overall}}</h5>
  <img src="{{bestArt.image}}" class="rankImg">
</div></a>

<a href="{{'/#/techniques/'+bestTech.name}}"><div id="bestTech" class="col-sm-6 mouseover">
  <h2>Voted best overall technique</h2>
  <h3>{{bestTech.name}}</h3>
  <h5>Number of votes: {{bestTech.votes.Overall}}</h5>
  <img src="{{bestTech.image}}" class="rankImg">
</div></a>

<!-- <a href="{{'/#/arts/'+bestArtsArr[key].name}}" ng-repeat="key in count"><div class="mouseover">
  <h2>Voted best {{genres[key].name}} art</h2>
  <h3>{{bestArtsArr[key].name}}</h3>
  <h5>Number of votes: {{bestArtsArr[key].votes[genres[key].name]}}</h5>
  <img src="{{bestArtsArr[key].image}}" class="rankImg">
</div></a>

<a href="{{'/#/techniques/'+bestTechsArr[key].name}}" ng-repeat="key in count"><div class="mouseover">
  <h2>Voted best {{genres[key].name}} technique</h2>
  <h3>{{bestTechsArr[key].name}}</h3>
  <h5>Number of votes: {{bestTechsArr[key].votes[genres[key].name]}}</h5>
  <img src="{{bestTechsArr[key].image}}" class="rankImg">
</div></a> -->
<div class="col-sm-6">
<div class="panel panel-default" ng-repeat="key in count">
  <div class="panel-heading">
    <h2>Voted best {{genres[key].name}} art</h2>
  </div>
  <a href="{{'/#/arts/'+bestArtsArr[key].name}}">
    <div class="panel-body mouseover">
      <img src="{{bestArtsArr[key].image}}" class="rankImg" alt="Image">
      <h3>{{bestArtsArr[key].name}}</h3>
      <h5>Number of votes: {{bestArtsArr[key].votes[genres[key].name]}}</h5>
    </div>
  </a>
</div>
</div>

<div class="col-sm-6"
<div class="panel panel-default" ng-repeat="key in count">
  <div class="panel-heading">
    <h2>Voted best {{genres[key].name}} technique</h2>
  </div>
  <a href="{{'/#/techniques/'+bestTechsArr[key].name}}">
    <div class="panel-body mouseover">
      <img src="{{bestTechsArr[key].image}}" class="rankImg">
      <h3>{{bestTechsArr[key].name}}</h3>
      <h5>Number of votes: {{bestTechsArr[key].votes[genres[key].name]}}</h5>
    </div>
  </a>
</div>