<!-- ARTS -->
<div class="col-sm-6">
  <!-- OVERALL -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="middle">Voted best overall art</h2>
    </div>
    <a href="{{'/#/arts/'+bestArt.name}}">
      <div class="panel-body mouseover">
        <img src="{{bestArt.image}}" class="rankImg middle">
        <button class="btn btn-danger middle verticalMargins"><h3 class="middle">{{bestArt.name}}</h3></button>
        <h4 class="label label-default middle" max-width="20px">Number of votes: <span class="badge">{{bestArt.votes.Overall}}</span></h4>
      </div>
    </a>
  </div>
  <!-- GENRE RANKINGS -->
  <div class="panel panel-default" ng-repeat="key in count">
    <div class="panel-heading">
      <h2 class="middle">Voted best {{genres[key].name}} art</h2>
    </div>
    <a href="{{'/#/arts/'+bestArtsArr[key].name}}">
      <div class="panel-body mouseover">
        <img src="{{bestArtsArr[key].image}}" class="rankImg middle">
        <button class="btn btn-danger middle verticalMargins"><h3 class="middle">{{bestArtsArr[key].name}}</h3></button>
        <h4 class="label label-default middle" max-width="20px">Number of votes: <span class="badge">{{bestArtsArr[key].votes[genres[key].name]}}</span></h4>
      </div>
    </a>
  </div>
</div>


<!-- TECHNIQUES -->
<div class="col-sm-6">
  <!-- OVERALL -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="middle">Voted best overall technique</h2>
    </div>
    <a href="{{'/#/techniques/'+bestTech.name}}">
      <div class="panel-body mouseover">
        <img src="{{bestTech.image}}" class="rankImg middle">
        <button class="btn btn-danger middle verticalMargins"><h3 class="middle">{{bestTech.name}}</h3></button>
        <h4 class="label label-default middle" max-width="20px">Number of votes: <span class="badge">{{bestTech.votes.Overall}}</span></h4>
      </div>
    </a>
  </div>
  <!-- GENRE RAKNINGS -->
  <div class="panel panel-default" ng-repeat="key in count">
    <div class="panel-heading">
      <h2 class="middle">Voted best {{genres[key].name}} technique</h2>
    </div>
    <a href="{{'/#/techniques/'+bestTechsArr[key].name}}">
      <div class="panel-body mouseover">
        <img src="{{bestTechsArr[key].image}}" class="rankImg middle">
        <button class="btn btn-danger middle verticalMargins"><h3 class="middle">{{bestTechsArr[key].name}}</h3></button>
        <h4 class="label label-default middle" max-width="20px">Number of votes: <span class="badge">{{bestTechsArr[key].votes[genres[key].name]}}</span></h4>
      </div>
    </a>
  </div>
</div>