<div id="techDetails">
  <div class="btn-group" role="group">
    <button class="btn btn-primary" type="button" ng-click="changeVote()">
      Vote
    </button>
    <button type="button" class="btn btn-warning" ng-click="changeEdit()">Edit</button>
  </div>
  <div ng-show="voteShow">
    <h4 class="accentBG" ng-show="loggedIn">If you think {{clickedTech.name}} is the best technique for anyone of these engagement styles, select the appropriate boxes. You can only vote once, but you can change it at any time. Previous votes for {{clickedTech.name}} will already be checked.</h4>
    <ul class="edit"><!-- ng-hide="edit" -->
      <div ng-show="loggedIn" class="smallDivider">
        <li><input type="checkbox" name="checkboxG5" id="Overall" class="css-checkbox votes" value="Overall">
        <label for="Overall" class="css-label">Overall</label></li>
        <li ng-repeat="key in genres"><input type="checkbox" name="checkboxG5" id="{{key.name}}" class="css-checkbox votes" value="{{key.name}}">
        <label for="{{key.name}}" class="css-label">{{key.name}}</label></li>
        <button class="btn btn-default" ng-click="vote(); changeVote()">Save Votes</button>
      </div>
      <div ng-hide="loggedIn" class="alert alert-warning">
        You are not logged in.
      </div>
    </ul>
  </div>

  <div ng-show="edit" class="edit">
    <div ng-show="loggedIn">
      <h4 class="accentBG middle smallDivider" id="techNameEdit"></h4>
      <label for="techLogoEdit">Change logo url</label>
      <input type="text" id="techLogoEdit" class="form-control" placeholder="Technique logo url">
      <label for="techDescriptionEdit" class="topMargin">Edit description</label>
      <textarea id="techDescriptionEdit" class="form-control" rows="5" placeholder="Technique description"></textarea>
      <div class="smallDivider">
        <h3 class="accent">Add a Video</h3>
        <input type="text" id="techVideoEdit" class="form-control" placeholder="Video url">
      </div>

      <!-- dropdown for checkboxes -->
      <div class="verticalMargins">
        <button class="btn btn-default" type="button" ng-click="checkCheckboxes(); changeArtsCheck()">
          Included Arts
        </button>
        <ul class="smallDivider" ng-show="artCheck">
          <!-- <li ng-repeat="key in techniques"><input type="checkbox" class="checkTechniques" value="{{key.name}}">{{key.name}}</li> -->
          <li ng-repeat="key in arts"><input type="checkbox" name="checkboxG5" id="{{key.name}}arts" class="css-checkbox checkArts" value="{{key.name}}">
          <label for="{{key.name}}arts" class="css-label">{{key.name}}</label></li>
          <!-- <button ng-click="changeTechCheck()">Done</button> -->
        </ul>
      </div>
      <div class="verticalMargins">
        <button class="btn btn-default" type="button" ng-click="checkCheckboxes(); changeGenreCheck()">
          Included Genres
        </button>
        <ul ng-show="genreCheck" class="smallDivider">
          <!-- <li ng-repeat="key in genres"><input type="checkbox" class="checkGenres" value="{{key.name}}">{{key.name}}</li> -->
          <li ng-repeat="key in genres"><input type="checkbox" name="checkboxG5" id="{{key.name}}genre" class="css-checkbox checkGenres" value="{{key.name}}">
          <label for="{{key.name}}genre" class="css-label">{{key.name}}</label></li>
          <!-- <button ng-click="changeGenreCheck()">Done</button> -->
        </ul>
      </div>
      <button type="button" class="btn btn-danger" ng-click="update()">Save changes</button>
    </div>
    <div ng-hide="loggedIn">
      <h2>Sorry, you are not logged in</h2>
    </div>
  </div>

  <h1 class="accentBG middle divider detailsHeader">{{clickedTech.name}}</h1>
  <img class="jumbotron middle verticalMargins" src="{{clickedTech.image}}" alt="Image" width="60%">
  <p class="accentBG smallDivider">{{clickedTech.description}}</p>
  

  <div class="row panel panel-default">
    <div class="panel-heading">
      <h3 class="middle accent">Included Arts</h3>
    </div>
    <div class="panel-body panel panel-default col-md-2 col-sm-3 col-xs-6" ng-repeat="art in matchingArts">
      <div class="mouseover">
      <a href="{{'/#/arts/'+art.name}}">
        <div class="panel-body">
          <img src="{{art.image}}" alt="Image" width="100%" max-width="200px">
        </div>
        <div class="panel-heading">
          <h4 class="middle accent">{{art.name}}</h4>
        </div>
      </a>
      </div>
    </div>
  </div>

  <div class="row panel panel-default">
    <div class="panel-heading">
      <h3 class="middle accent">Covered Genres</h3>
    </div>
    <div class="panel-body panel panel-default col-md-2 col-sm-3 col-xs-6" ng-repeat="genre in matchingGenres">
      <div class="mouseover">
      <a href="{{'/#/genres/'+genre.name}}">
        <div class="panel-body">
          <img src="{{genre.image}}" alt="Image" width="100%" max-width="200px">
        </div>
        <div class="panel-heading">
          <h4 class="middle accent">{{genre.name}}</h4>
        </div>
      </a>
      </div>
    </div>
  </div>

  <div class="row panel panel-default">
    <div class="panel-heading">
      <h3 class="middle accent">Demo Videos</h3>
    </div>
    <div class="panel-body panel panel-default">
      <div class="middle" id="video"></div>
  </div>
</div>