<h3 class="accentBG middle topMargin bottomMargin verticalMargins">Select from any one of these techniques to view details, arts that practice that technique, related engagement styles, and video demos.</h3>
<div ng-repeat="key in techs | filter: search">
  <a href="{{'/#/techniques/'+key.name}}"><div class="evenHeightGenres eachTech col-sm-4 col-md-3 mouseover">
    <h2 class="middle header accentBG">{{key.name}}</h2>
    <img class="middle imageFitTechs" src="{{key.image}}">
  </div></a>
</div>