<div id="techDetails">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Vote
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><input type="checkbox" class="votes" value="Overall">Overall</li>
      <li ng-repeat="key in genres"><input type="checkbox" class="votes" value="{{key.name}}">{{key.name}}</li>
      <button ng-hide="clicked" ng-click="vote()">Vote</button>
    </ul>
  </div>

  <button type="button" class="btn btn-default" ng-click="changeEdit()">Edit</button>
  <div ng-show="edit" class="edit">
    <div ng-show="loggedIn">
      <input type="text" id="techNameEdit" class="form-control" placeholder="Technique Name">
      <input type="text" id="techLogoEdit" class="form-control" placeholder="Technique logo url">
      <textarea id="techDescriptionEdit" class="form-control" rows="5" placeholder="Technique description"></textarea>
      <h3>Videos</h3>
      <input type="text" id="techVideoEdit" class="form-control" placeholder="Video url">
      <!-- <input type="text" class="form-control artVideo" placeholder="Video url" ng-repeat="vid in videos"> -->
      <!-- <button type="button" class="btn btn-default" ng-click="addVideo()">Add another video</button> -->

      <!-- dropdown for checkboxes -->
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-click="checkCheckboxes()">
          Included Arts
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li ng-repeat="key in arts"><input type="checkbox" class="checkArts" value="{{key.name}}">{{key.name}}</li>
          <button class="dropdown-toggle">Done</button>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-click="checkCheckboxes()">
          Included Genres
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li ng-repeat="key in genres"><input type="checkbox" class="checkGenres" value="{{key.name}}">{{key.name}}</li>
          <button class="dropdown-toggle">Done</button>
        </ul>
      </div>
      <button type="button" class="btn btn-default" ng-click="update()">Save changes</button>
    </div>
    <div ng-hide="loggedIn">
      <h2>Sorry, you are not logged in</h2>
    </div>
  </div>

  <h1 class="accentBG middle divider detailsHeader">{{clickedTech.name}}</h1>
  <img class="jumbotron middle verticalMargins" src="{{clickedTech.image}}" alt="Image" width="60%">
  <p class="accentBG smallDivider">{{clickedTech.description}}</p>
  

  <div class="row panel panel-default">
    <div class="panel-heading">
      <h3 class="middle accent">Included Arts</h3>
    </div>
    <div class="panel-body panel panel-default col-md-2 col-sm-3 col-xs-6" ng-repeat="art in matchingArts">
      <div class="mouseover">
      <a href="{{'/#/arts/'+art.name}}">
        <div class="panel-body">
          <img src="{{art.image}}" alt="Image" width="100%" max-width="200px">
        </div>
        <div class="panel-heading">
          <h4 class="middle accent">{{art.name}}</h4>
        </div>
      </a>
      </div>
    </div>
  </div>

  <div class="row panel panel-default">
    <div class="panel-heading">
      <h3 class="middle accent">Covered Genres</h3>
    </div>
    <div class="panel-body panel panel-default col-md-2 col-sm-3 col-xs-6" ng-repeat="genre in matchingGenres">
      <div class="mouseover">
      <a href="{{'/#/genres/'+genre.name}}">
        <div class="panel-body">
          <img src="{{genre.image}}" alt="Image" width="100%" max-width="200px">
        </div>
        <div class="panel-heading">
          <h4 class="middle accent">{{genre.name}}</h4>
        </div>
      </a>
      </div>
    </div>
  </div>

  <!-- <div class="row panel panel-default">
    <div class="panel-heading">
      <h3>Included Arts</h3>
    </div>
    <div class="panel-body panel panel-default col-sm-3" ng-repeat="art in matchingArts">
      <div class="mouseover">
      <a href="{{'/#/arts/'+art.name}}">
        <div class="panel-heading">
          <h4>{{art.name}}</h4>
        </div>
        <div class="panel-body">
          <img src="{{art.image}}" alt="Image" width="100%">
        </div>
      </a>
      </div>
    </div>
  </div> -->


  <!-- div ng-repeat="art in clickedTech.arts">
    <a href="{{'/#/arts/'+art.name}}">
    <h4>{{art.name}}</h4>
    <img src="{{art.image}}" alt="Image">
  </div>

  <div ng-repeat="genre in clickedTech.genres">
    <a href="{{'/#/genres/'+genre.name}}">
    <h4>{{genre.name}}</h4>
    <img src="{{genre.image}}" alt="Image">
  </div> -->
  <div id="video"></div>

</div>