<!DOCTYPE html>
<html lang="en">
  <head>

    <link rel="stylesheet" type="text/css" href="lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Martial Arts Compare</title>

  </head>

<body ng-app="MAApp" ng-controller="RootCtrl">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/#/">Brand</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li id="home" class="active"><a href="/#/">Home <span class="sr-only">(current)</span></a></li>
          <li id="rankings"><a href="/#/rankings">Rankings <span class="sr-only">(current)</span></a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contribute <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/#/addArt">Add an Art</a></li>
              <li><a href="/#/addGenre">Add a Genre</a></li>
              <li><a href="/#/addTechnique">Add a Techinique</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
          <a href="/#/login" ng-hide="user">Login</a>
          <div ng-show="user" id="userInfo">
            <img src="{{user.password.profileImageURL}}" width="30px">
            <a class="accentBG" href="/#/profile">Profile</a>
            <a href="" ng-click="logout()">Logout</a>
          </div>
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <div ng-view id="view"></div>



<script src="lib/bower_components/jquery/dist/jquery.js"></script>
<script src="lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="lib/bower_components/angular/angular.js"></script>
<script src="lib/bower_components/angular-route/angular-route.js"></script>
<script src="lib/bower_components/firebase/firebase.js"></script>
<script src="lib/bower_components/angularfire/dist/angularfire.min.js"></script>
<script src="app/app.js"></script>

<script src="app/controllers/MainCtrl.js"></script>

<script src="app/controllers/RootCtrl.js"></script>

<script src="app/controllers/ArtsCtrl.js"></script>
<script src="app/controllers/ArtDetailsCtrl.js"></script>

<script src="app/controllers/GenreCtrl.js"></script>
<script src="app/controllers/GenreDetailsCtrl.js"></script>

<script src="app/controllers/TechCtrl.js"></script>
<script src="app/controllers/TechDetailsCtrl.js"></script>

<script src="app/controllers/AddArtCtrl.js"></script>
<script src="app/controllers/AddGenreCtrl.js"></script>
<script src="app/controllers/AddTechCtrl.js"></script>

<script src="app/controllers/RankCtrl.js"></script>

<script src="app/factories/getCheckboxes.js"></script>
<script src="app/factories/uploadImage.js"></script>
<!-- <script src="app/factories/storage.js"></script> -->

<script src="app/controllers/AuthCtrl.js"></script>
<script src="app/controllers/SignupCtrl.js"></script>
<script src="app/controllers/ProfileCtrl.js"></script>

</body>
</html>